################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WinFormsApp1/obj
/WinFormsApp1/bin
/WinFormsApp1/WinFormsApp1.csproj.user
